body {
  opacity: 0;
  transition: 1s;
  transform: translate(0, -150px); }

ul {
  list-style-type: none;
  margin: 0px 10%;
  padding: 0px; }

li {
  overflow: hidden; }

.banner {
  height: 70vH;
  min-height: 315px;
  background-image: linear-gradient(45deg, black, transparent 80%), url("https://images.unsplash.com/photo-1543074218-cc16958718bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ede1877892dedb4f98f062a7c5ca1e64&auto=format&fit=crop&w=968&q=80");
  background-size: cover;
  background-position: 50% 20%;
  position: relative; }
  .banner .content {
    padding-top: 120px;
    color: white; }
  .banner h1 {
    font-size: 60px; }
  .banner h3 {
    font-size: 32px; }

nav {
  position: absolute;
  bottom: 0px; }
  nav a {
    color: white;
    transition: .2s;
    text-decoration: none;
    position: relative;
    z-index: 10; }
  nav a:hover {
    color: salmon;
    transition: .2s;
    text-decoration: none;
    letter-spacing: .5px; }

li .nav-effect {
  background-color: salmon;
  height: 1px;
  transform: translate(0, -15px);
  visibility: hidden;
  transition: .1s;
  transition-timing-function: ease-in-out; }

li a:hover + .nav-effect {
  transition: .4s;
  visibility: visible;
  transform: translate(0, 0); }

main {
  padding: 0px 10%; }

#loading-bar {
  width: 0%;
  height: 5px;
  background-color: grey;
  border-radius: 30px;
  transition: 3s; }

.about .about-img {
  height: 300px;
  width: 300px;
  background-color: black;
  background-position: 65% 40%;
  border-radius: 50%; }

.about .content {
  width: 50%; }

.project {
  width: 100%; }
  .project h1 {
    text-align: center; }
  .project .project-gallery {
    height: 300px;
    width: 500px;
    border: black 1px solid;
    margin: 0 auto; }

.technical .tech-container {
  width: 100%;
  height: 300px;
  background-color: yellow;
  position: relative; }

.technical h1 {
  color: blue;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 120px;
  z-index: 10; }

.technical .circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: pink;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 5; }

.contact h1 {
  color: green; }
