html {
  scroll-behavior: smooth; }

body {
  opacity: 0;
  transition: 1s;
  transform: translate(0, -150px); }

ul {
  list-style-type: none;
  margin: 0px 10%;
  padding: 0px; }

li {
  overflow: hidden; }

h4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 200; }

.banner {
  height: 70vH;
  min-height: 315px;
  background-image: linear-gradient(45deg, black, transparent 80%), url("https://images.unsplash.com/photo-1543074218-cc16958718bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ede1877892dedb4f98f062a7c5ca1e64&auto=format&fit=crop&w=968&q=80");
  background-size: cover;
  background-position: 50% 20%;
  position: relative; }
  .banner .content {
    padding-top: 120px;
    color: white; }
  .banner h1 {
    font-size: 60px; }
  .banner h3 {
    font-size: 32px; }

nav {
  position: absolute;
  bottom: 0px; }
  nav a {
    color: white;
    transition: .2s;
    text-decoration: none;
    position: relative;
    z-index: 10; }
  nav a:hover {
    color: salmon;
    transition: .2s;
    text-decoration: none;
    letter-spacing: .5px; }

li .nav-effect {
  background-color: salmon;
  height: 1px;
  transform: translate(0, -15px);
  visibility: hidden;
  transition: .1s;
  transition-timing-function: ease-in-out; }

li a:hover + .nav-effect {
  transition: .4s;
  visibility: visible;
  transform: translate(0, 0); }

main {
  padding: 0px 10%; }

#loading-bar {
  width: 0%;
  height: 5px;
  background-color: grey;
  border-radius: 30px;
  transition: 2s;
  animation: loading;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 4s; }

#about .about-img {
  height: 300px;
  width: 300px;
  background-image: url("https://pokemonletsgo.pokemon.com/assets/img/common/char-pikachu.png");
  background-position: 65% 40%;
  border-radius: 50%; }

#about .content {
  width: 50%; }

#project {
  width: 100%; }
  #project h1 {
    text-align: center; }
  #project .project-gallery {
    height: 360px;
    width: 640px;
    background-size: cover;
    border: black 1px solid;
    margin: 0 auto; }
  #project p {
    font-style: italic; }
  #project a {
    color: black;
    text-decoration: none;
    transition: .2s; }
    #project a:hover {
      letter-spacing: .5px;
      color: salmon;
      transition: .2s; }

#technical .tech-container {
  width: 100%;
  height: 300px;
  position: relative; }

#technical h2 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 120px;
  z-index: 10; }

#technical .circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 5; }
  #technical .circle div {
    width: 50px;
    height: 50px;
    position: absolute;
    background-size: cover; }

#technical .html-img {
  background-image: url("../imgs/html.png");
  margin: auto;
  top: -25px;
  left: 0;
  right: 0; }

#technical .ps-img {
  background-image: url("../imgs/ps.png");
  left: 10px;
  top: 25px; }

#technical .placeholder3 {
  background-image: url("../imgs/ps.png");
  left: 240px;
  top: 25px; }

#technical .css-img {
  background-image: url("../imgs/css.png");
  left: -25px;
  top: 40%; }

#technical .js-img {
  background-image: url("../imgs/js.png");
  left: 275px;
  top: 40%; }
  #technical .js-img:hover {
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 4s; }

#technical .jq-img {
  background-image: url("../imgs/jq.png");
  left: 10px;
  top: 70%; }

#technical .wp-img {
  background-image: url("../imgs/wp.png");
  left: 240px;
  top: 70%; }

#technical .php-img {
  background-image: url("../imgs/php.png");
  margin: auto;
  left: 0;
  right: 0;
  bottom: -25px; }

#technical .html-img:hover, #technical .ps-img:hover, #technical .placeholder3:hover, #technical .css-img:hover, #technical .js-img:hover, #technical .php-img:hover, #technical .wp-img:hover, #technical .jq-img:hover {
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 4s; }

#contact h1 {
  color: black; }

@keyframes floating {
  50% {
    transform: scale(1.1); } }

@keyframes loading {
  0% {
    width: 1%; }
  90% {
    width: 100%;
    opacity: 1; }
  100% {
    width: 100%;
    opacity: 0; } }
