// GENERAL

html {
    scroll-behavior: smooth;
}

body {
    opacity:0;
    transition: 1s;
    transform: translate(0, -150px);
}

ul {
    list-style-type: none;
    margin: 0px 10%;
    padding: 0px;
}

li {
    overflow: hidden;
}

h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
}

main {
    padding: 0px 10%;
}

@media (max-width: 832px){
    main {
        padding: 0px 2%;
    }
}