// HEADER

.banner {
    height: 70vH;
    min-height: 315px;
    background-image:linear-gradient(45deg, black, transparent 80%), url('https://images.unsplash.com/photo-1543074218-cc16958718bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ede1877892dedb4f98f062a7c5ca1e64&auto=format&fit=crop&w=968&q=80');
    background-size: cover;
    background-position: 50% 20%;
    position: relative;

    .content {
        padding-top: 120px;
        color: white;
    }

    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 32px;
    }
}

nav {
    position: absolute;
    bottom: 0px;
    
    a {
        color: white;
        transition: .2s;
        text-decoration: none;
        position: relative;
        z-index: 10;
    }

    a:hover {
        color: salmon;
        transition: .2s;
        text-decoration: none;
        letter-spacing: .5px;
    }
}

li {
    .nav-effect{
        background-color: salmon;
        height: 1px;
        transform: translate(0, -15px); 
        visibility: hidden;
        transition: .1s;
        transition-timing-function: ease-in-out;
    }

    a:hover + .nav-effect{
        transition: .4s;
        visibility: visible;
        transform: translate(0, 0); 
    }

}